.about {
    padding: 130px 0 30px;
    .container {
        row-gap: 30px;
    }
    &__content {
        min-height: calc(100vh - 160px - 45px - 30px);
    }
    &__title{
        margin-bottom: 50px;
    }
    &__text{
        width: 60%;
        font-size: rem(16px);
        text-align: unset;
        letter-spacing: 0.05rem;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}