// font size
$baseFontSize: 16px;
$arrow: 0.3rem;

// font family
$montserratFont: 'Montserrat', sans-serif;
$robotoFont: 'Roboto', sans-serif;

// COLORS
$whiteColor: #fff;
$greyColor: #e5e5e5;
$yellowColor: #fca311;
$darkBlueColor: #14213d;
$blackColor: #000;