.footer {
    padding: 30px 0;
    background-color: $darkBlueColor;

    &__text{
        font-family: $montserratFont;
        font-size: rem(12px);
        font-weight: 400;
        color: $greyColor;

    }
}