.works{
    padding: 50px 0;
    // background-color: rgba($color: $yellowColor, $alpha: 0.15);
    background: rgb(238,174,202);
background: linear-gradient(46deg, rgba(238,174,202,0.768032212885154) 30%, rgba(241,238,6,0.3842787114845938) 70%);

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 30px;
    }
}